{
    "nickname": "testbot",
    "rooms": [
        "testing@chat.example.com"
    ],
    "packages": [
        {
            "package": "mtj.jibber.testing.command.GreeterCommand",
            "kwargs": {},
            "commands": [
                ["^%(nickname)s: hi", "say_hi"]
            ]
        }
    ]
}
